@model AccountManage.Models.User
@{
    ViewData["Title"] = "ChangePassword";
}
<h1>Change Your Password</h1>
<form method="post" asp-action="ChangePassword">
<div class="form-group">
        <input readonly type="hidden" asp-for="Id" class="form-control" />
    </div>
<div class="form-group">
        <input readonly type="hidden" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group">
            <input type="hidden" asp-for="DateOfBirth" class="form-control" min="1966-01-01" max="2006-01-01"/></div>
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="IdCardPassportNumber" class="form-control" />
        <span asp-validation-for="IdCardPassportNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordHash"></label>
        <input  type="password" asp-for="PasswordHash" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input  type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="RoleType" class="form-control" />
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="IsDeleted" class="form-control" />
    </div>
    <div class="form-group">
        <input readonly type="hidden" asp-for="IsEmail" class="form-control" />
    </div>
    <button type="submit">Save</button>
</form>