@{
    ViewData["Title"] = "FogetPassword";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center mb-4">Foget Password</h2>
            <form id="loginForm" asp-action="FogetPassword" method="post">
                <div class="form-group">
                    <label for="email">Enter Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                    <div id="usernameError" class="text-danger small mt-1"></div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
                <div class="text-center small">
                    Don't have an account? <a asp-action="RegisterForm" style="display: inline;">Register here</a><br>
                    Want to back login <a asp-action="Form" style="display: inline;">Click here</a>
                </div>
            </form>
        </div>
    </div>
</div>