@{
    ViewData["Title"] = "Form";
}
@{
    Layout = "_LoginLayout";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center mb-4">Manager Login</h2>
            <form id="loginForm" asp-action="Login" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <div id="usernameError" class="text-danger small mt-1"></div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <div id="passwordError" class="text-danger small mt-1"></div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">LOGIN</button>
                </div>
                <div class="text-center small">
                    Don't have an account? <a asp-action="RegisterForm" style="display: inline;">Register here</a><br>
                    Forgot your password? <a asp-action="ForgotPassword" style="display: inline;">Click here</a>
                </div>
                <div class="text-center small mt-3">
                    Back to User, <a asp-action="ToUser" style=" text-decoration: underline; display: inline;">Click here to back!</a>
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["FailMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["FailMessage"]
    </div>
}